/* Default styles */
/* .todo-list-amount-container {
    text-align: center;
    margin-top: 10px;
  }
  
  .todo-list-amount {
    font-size: 16px;
    color: #333;
  } */
  
  /* Responsive styles */
  /* @media screen and (max-width: 600px) {
    .todo-list-amount {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .todo-list-amount {
      font-size: 12px;
    }
  } */
  